<header class="noo-header header-3 header-static">
  <div class="navbar-wrapper">
    <div class="navbar navbar-default">
      <div class="container">
        <div class="menu-position">
          <div class="navbar-header pull-left">
            <div class="noo_menu_canvas">
              <div class="btn-search noo-search">
                <i class="fa fa-search"></i>
              </div>
              <div data-target=".nav-collapse" class="btn-navbar">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <a href="/" class="navbar-brand">
              <%= image_tag "small-logo.jpg", class: "noo-logo-img noo-logo-normal" %>
            </a>
          </div>  
          <nav class="pull-right noo-main-menu">
            <ul class="nav-collapse navbar-nav">
              <li class="menu-item-has-children current-menu-item">
                <%= link_to("หน้าหลัก", homes_path) %>

                <!-- <ul class="sub-menu">
                  <li><a href="index-2.html">Homepage 2</a></li>
                  <li><a href="index-3.html">Homepage 3</a></li>
                  <li><a href="index-4.html">Homepage 4</a></li>
                  <li><a href="index-5.html">Homepage 5</a></li>
                  <li><a href="index-6.html">Homepage 6</a></li>
                </ul> -->
              </li>
              <li class="menu-item-has-children">
                <%= link_to("สินค้าทั้งหมด", products_path) %>
                <ul class="sub-menu">
                  <% @categories.each do |c| %>
                    <li><%= link_to(c.name.titleize, show_porducts_product_path(c.id), cat_id: "#{c.id}" ) %></li>
                  <% end %>
                </ul>
              </li>
              <% if (current_user.admin? rescue false) %>
                <li class="menu-item-has-children">
                  <%= link_to("จัดการ", manage_products_path) %>
                  <ul class='sub-menu'>
                    <li><%= link_to "จัดการสินค้า", manage_products_path %></li>
                    <li><%= link_to "จัดการหมวดหมู่สินค้า", manage_categories_path %></li>
                    <li><%= link_to "จัดการ sliders", sliders_path %></li>
                    <li><%= link_to "จัดการถามตอบ", manage_faqs_path %></li>
                    <li><%= link_to "จัดการบล็อก", blogs_path %></li>
                  </ul>
                </li>
              <% end %>
              <li class="menu-item-has-children">
                <%= link_to("บล็อก", blogs_path) %>
              </li>
              <li><%= link_to("คำถามที่พบบ่อย", faqs_path) %></li>
              <li><%= link_to "ติดต่อเรา", contacts_path %></li>
              <li>
                <%= link_to("ออกจากระบบ", user_session_path, method: "delete", id: "link_logout", class: "brand") unless current_user.blank? %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="search-header5">
    <div class="remove-form"></div>
    <div class="container">
      <form class="form-horizontal">
        <label class="note-search">Type and Press Enter to Search</label>
        <input type="search" name="s" class="form-control" value="" placeholder="Search...">
        <input type="submit" value="Search">
      </form> 
    </div>
  </div>
</header>