<div class="pt-10 pb-10">
  <div class="container">
    <div class="row">
      <div class="noo_image_left col-sm-6">
        <div class="noo-image-signature">
          <div class="img-background-color"></div>
          <div class="img-background-sign style-2"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <%= form_for @product, :html => { :multipart => true, class: "form" }, url: manage_product_path(@product.id), method: 'put' do |f| %>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="form-control-wrap your-name">
                ชื่อสินค้า
                <%= f.text_field "name", required: true, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-control-wrap your-website">
                รหัสสินค้า
                <%= f.text_field "code", required: true, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-control-wrap your-message">
                รายละเอียด
                <%= f.text_area "specifications", cols: "40", rows: "10", class: "form-control" %>
              </div>
            </div>
            <div class="col-md-12">
              <%= f.submit "บันทึก", class: "form-control submit btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
