<div class="main">
  <div class="commerce noo-shop-main">
    <div class="container">
      <div class="row">
      <div class="col-sm-12">
        <div class="noo-product-grid-wrap commerce product-style">
          <div class="noo-sh-title">
            <h2>จัดการสินค้า</h2>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="noo-main col-md-12">
          <div class="noo-catalog">
            <div class="product-style-control pull-right">
              <%= link_to "เพิ่มสินค้าใหม่", new_manage_product_path, class: "button product_type_simple add_to_cart_button" %>
            </div>
            <form class="commerce-ordering">
              <select id="filter_by" class="orderby">
                <option value='*" %>'>ทั้งหมด</option>
                <% Category.all.each do |category| %>
                  <option value='.category_<%= "#{category.id}" %>'><%= category.name %></option>
                <% end %>
              </select>
            </form>
          </div>
          <div class="products row product-list">
            <% @products.each do |product| %>
              <div class="masonry-item noo-product-column col-md-4 col-sm-6 product category_<%= product.category.id rescue nil %>">
                <div class="noo-product-inner">
                  <div class="noo-product-thumbnail hidden-xs">
                    <%= link_to product_path(product) do %>
                      <% if product.photos.present? %>
                        <%= image_tag product.photos.first.attached_file.url(:thumb), class: "small-image" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="noo-product-title"> 
                    <h3><%= link_to product.name, product_path(product) %></h3>
                    <span class="price"><span class="amount"><%= product.code %></span></span>
                    <div class="noo-product-excerpt">
                      <p><%= product.specifications %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
