<h5>การจัดการสินค้า</h5>

<%= link_to "เพิ่มสินค้า", new_manage_product_path %>

<table id="products_list">
  <thead>
    <th>ชื่อ</th>
    <th class="actions" colspan='3'>จัดการ</th>
  </thead>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to "ดูข้อมูล", manage_product_path(product.id) %></td>
      <td><%= link_to "แก้ไข", edit_manage_product_path(product.id) %></td>
      <td><%= link_to "ลบ", manage_product_path(product.id), method: 'delete', confirm: "Are you sure?" %></td>
    </tr>
  <% end %>
</table>
