<div id="new_product">
	<h3>เพิ่มสินค้า</h3>
  	<%= form_for @product, :html => { :multipart => true }, url: manage_products_path, method: 'post' do |f| %>
		<table>
			<tr>
				<td class="field">หมวดหมู่ : </td>
				<td class="value"><%= select_tag "category_name", options_for_select(@categories, nil), class: "field" %></td>
			</tr>
			<tr>
				<td class="field">ชื่อสินค้า : </td>
				<td class="value"><%= f.text_field "name", required: true, class: "field" %></td>
			</tr>
			<tr>
				<td class="field">รหัสสินค้า : </td>
				<td class="value"><%= f.text_field "code", required: true, class: "field" %></td>
			</tr>
			<tr>
				<td class="field">รายละเอียดสินค้า : </td>
				<td class="value">
					<div class="specification_row">
						<div class="inline">
							<%= text_field_tag "specifications[0][field]", nil, class: "field", placeholder: "ระบุชื่อ.." %>
						</div>
						:
						<div class="inline">
							<%= text_field_tag "specifications[0][value]", nil, class: "field", placeholder: "ระบุค่า.." %>
						</div>
						<%= button_tag "-", class: "delete_row", type: 'button' %>
					</div>
					<div id="add_new_row">
						เพิ่มรายละเอียดสินค้า
						<%= button_tag "+", class: "add_new_row", type: 'button' %>
					</div>
				</td>
			</tr>
			<tr>
				<td class="field">ภาพถ่าย : </td>
				<td class="value">
			    <%= f.fields_for :photos do |photo_field| %>
			    	<div class="photo_row">
							<div class="inline">
				      	<%= photo_field.file_field :attached_file, name: "photos[][attached_file]" %>
				      </div>
							<%= button_tag "-", class: "delete_photo", type: 'button' %>
						</div>
			    <% end %>
			    <div id="add_more_photo">
						เพิ่มภาพถ่าย
						<%= button_tag "+", class: "add_more_photo", type: 'button' %>
					</div>
				</td>
			</tr>
		</table>
		<%= f.submit "บันทึก", class: "submit" %>
		<%= f.button "ล้างข้อมูล", class: "clear", type: "reset" %>
	<% end %>
</div>
