<h3><%= @product.name %></h3>

<table class="show_product">
  <tr>
    <td>ฃื่อสินค้า</td>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <td>รหัสสินค้า</td>
    <td><%= @product.code %></td>
  </tr>
  <tr>
    <td>สินค้าขายดี</td>
    <td><%= @product.best_seller? ? "ขายดี" : "ปกติ" %></td>
  </tr>
  <tr>
    <td>รายละเอียดสินค้า</td>
    <td>
      <% @product.specifications.each do |key, specification| %>
        <div>
          <p class='spec_field'><%= "#{specification['field']}" %></p>
          :
          <p class='inline'><%= "#{specification['value']}" %></p>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>ภาพถ่ายสินค้า</td>
    <td>
      <% @product.photos.each do |photo| %>
        <%= image_tag photo.attached_file.url(:thumb) %>
      <% end %>
    </td>
  </tr>
</table>
<br>
<%= link_to("แก้ไขสินค้า", edit_manage_product_path(@product)) if (current_user.admin? rescue false) %>
