<h3><%= @product.name %></h3>

<table>
  <tr>
    <td>ฃื่อสินค้า</td>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <td>รหัสสินค้า</td>
    <td><%= @product.code %></td>
  </tr>
  <tr>
    <td>รายละเอียดสินค้า</td>
    <td>
      <% @product.specifications.each do |key, specification| %>
        <label><%= "#{specification['field']} : #{specification['value']}" %></label>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>ภาพถ่ายสินค้า</td>
    <td>
      <% @product.photos.each do |photo| %>
        <%= image_tag photo.attached_file.url(:thumb) %>
      <% end %>
    </td>
  </tr>
</table>
<br>
<%= link_to("แก้ไขสินค้า", edit_manage_product_path(@product)) if current_user.admin? %>
