<h3><%= @product.name %></h3>

<table>
  <tr>
    <td>Name</td>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <td>Code</td>
    <td><%= @product.code %></td>
  </tr>
  <tr>
    <td>Specifications</td>
    <td>
      <% @product.specifications.each do |key, specification| %>
        <label><%= "#{specification['field']} : #{specification['value']}" %></label>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Photos</td>
    <td>
      <% @product.photos.each do |photo| %>
        <%= image_tag photo.attached_file.url(:thumb) %>
      <% end %>
    </td>
  </tr>
</table>
<br>
<%= link_to("Edit", edit_manage_product_path(@product)) %>
