<h5 class="inline" category-id='<%= "#{@product.category.id}"%>'>หมวดสินค้า: </h5>
<h5 class="inline"><%= link_to(@product.category.name, show_porducts_product_path(@product.category)) %></h5>
<div>
	<% @product.photos.each do |photo| %>
		<%#= link_to image_tag(photo.attached_file.url(:thumb), class: "photos-class" ), photo.attached_file.url(:medium), class: "fancy_link" %>
		<!-- <a id="single_image" href="image_big.jpg"><img src="image_small.jpg" alt=""/></a> -->

    <a href='<%= photo.attached_file.url(:medium) %>' data-lightbox='<%= @product.id %>'>
      <%= image_tag photo.attached_file.url(:thumb) %>
    </a>
	<% end %>
</div>

<%= render template: "manage_products/show" %>
