<div class="main">
  <div class="commerce single-product noo-shop-main">
    <div class="container">
      <div class="row">
        <div class="noo-main col-md-12">
          <div class="product">
            <div class="single-inner">
              <div class="summary entry-summary">
                <ul class="noo_link_boxes">
                  <li>
                    <%= link_to("แก้ไขสินค้า", edit_manage_product_path(@product)) if (current_user.admin? rescue false) %>
                  </li>
                </ul>
                <h1 class="product_title entry-title">
                  <%= @product.name %>
                </h1>
                <p class="price">
                  <span class="amount">
                    <%= @product.code %>
                  </span>
                </p>
                <div class="description">
                  <p>
                    <%= @product.specifications %>
                  </p>
                </div>
              </div>
              <div class="images">
                <% if @product.photos.present? %>
                  <div class="project-slider pb-5">
                    <div class="owl-carousel sync1">
                      <% @product.photos.each do |photo| %>
                        <div class="item"> 
                          <%= link_to photo.attached_file.url(:medium), "data-rel".to_sym => "prettyPhoto[product-gallery]" do %>
                            <%= image_tag photo.attached_file.url(:medium), height: "400px" %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <div class="owl-carousel sync2">
                      <% @product.photos.each do |photo| %>
                        <%= image_tag photo.attached_file.url(:thumb), width: "150", height: "150" %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <div class="noo-our_story pb-10">
                  <div class="text-center">
                    <%= link_to("แก้ไขรูปภาพสินค้า", edit_photos_manage_product_path(@product)) if (current_user.admin? rescue false) %>
                  </div>
                </div>
              </div>
            </div>
            <% if @random_products.present? %>
              <div class="related products">
                <h2>สินค้าที่เกี่ยวข้อง</h2>
                <%= render partial: "shared/suggested_products", locals: { products: @random_products } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>