<div id="main-site-maps">
	<div>-- <b><%= link_to("หน้าหลัก", homes_path) %></b></div>
	<div>-- <b><%= link_to("หมวดสินค้า", "") %></b></div>
	<% if @categories.present? %>
			<%= render partial: "categories", collection: @categories, as: "category" %>
	<% end %>
	<div>-- <b><%= link_to("เกี่ยวกับเรา", coming_soon_homes_path) %></b></div>
	<div>-- <b><%= link_to("ลูกค้าของเรา", coming_soon_homes_path) %></b></div>
	<div>-- <b><%= link_to("คำถามที่พบบ่อย", coming_soon_homes_path) %></b></div>
	<div>-- <b><%= link_to("site map", coming_soon_homes_path) %></b></div>
	<div>-- <b><%= link_to("ติดต่อเรา", coming_soon_homes_path) %></b></div>
</div>