<h5>Login</h5>
<div class="sign-in">
  <%= form_for @user_session, url: user_session_url do |f| %>
  <div class="in-login-form">
    <div><%= "Email" %></div>
    <div><%= f.email_field :email, placeholder: "email@example.com", required: true %></div>
    <div><%= "Password" %></div>
    <div><%= f.password_field :password, required: true %></div>
    <div>
      <%= f.check_box :remember_me %>
      <%= "Remember me" %>
    </div>
    <br>
    <div>
      <%= f.submit "Login", class: "btn btn-primary" %>
    </div>
    <br>
    <div class="forget-password">
      <%= link_to "forget my password?", new_password_reset_path, class: "a-forget-password" %>
    </div>
  </div>
  <%- end -%>
</div>
