<!DOCTYPE html>
<html>
<head>
  <title>KK CONTAINER</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag controller_name, media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
	<h3 id="project-name">KK CONTAINER</h3>
	<div id="hmenu">
		<div class="navbar">
	    	<div class="navbar-inner">
		    	<ul class="nav">
		    		<li class='<%= controller_name == "homes" ? "active" : "" %>'>
		    			<%= link_to("หน้าหลัก", homes_path, class: "brand first") %>
		    		</li>
		    		<li class='<%= controller_name == "products" ? "active" : "" %>'>
		    			<%= link_to("สินค้า", products_path, class: "brand") %>
		    		</li>
		    		<li class='<%= controller_name == "abouts" ? "active" : "" %>'>
		    			<%= link_to("เกี่ยวกับเรา", abouts_path, class: "brand") %>
		    		</li>

		    		<li class='<%= controller_name == "customers" ? "active" : "" %>'>
		    			<%= link_to("ลูกค้าของเรา", customers_path, class: "brand") %>
		    		</li>

		    		<li class='<%= controller_name == "faqs" ? "active" : "" %>'>
		    			<%= link_to("คำถามที่พบบ่อย", faqs_path, class: "brand") %>
		    		</li>

		    		<li class='<%= controller_name == "site_maps" ? "active" : "" %>'>
		    			<%= link_to("site map", site_maps_path, class: "brand") %>
		    		</li>
		    		
		    		<li class='<%= controller_name == "contacts" ? "active" : "" %>'>
		    			<%= link_to("ติดต่อเรา", contacts_path, class: "brand") %>
		    		</li>
		    		<% if current_user.present? && controller_name == "manage_categories" %>
		    			<li class="active"><%= link_to "จัดการหมวดหมู่", manage_categories_path, class: "brand" if current_user.present? %></li>
		    		<% else %>
		    			<li><%= link_to "จัดการหมวดหมู่", manage_categories_path, class: "brand" if current_user.present? %></li>
		    		<% end %>

		    		<% if current_user.present? && controller_name == "manage_products" %>
		    			<li class="active"><%= link_to "จัดการสินค้า", manage_products_path, class: "brand" if current_user.present? %></li>
		    		<% else %>
		    			<li><%= link_to "จัดการสินค้า", manage_products_path, class: "brand" if current_user.present? %></li>
		    		<% end %>

		    		<li>
		    			<%= link_to("ออกจากระบบ", user_session_path, method: "delete", id: "link_logout", class: "brand") unless current_user.blank? %>
		    		</li>
	    		</ul>
	    	</div>
	    </div>
	</div> <!-- END HMENU -->

	<!-- SLIDER -->
	<ul class="bxslider">
	  <li><%= image_tag("bx-slider/cover1.jpg", alt: "Photo1", class: "slider-img-size") %></li>
	  <li><%= image_tag("bx-slider/cover1.jpg", alt: "Photo2", class: "slider-img-size") %></li>
	</ul>
	<!-- END SLIDER -->

	<!-- Search Form -->
	<div class="navbar">
		<div class="navbar-inner">
			<h3>KK CONTAINER (ขอนแก่น คอนเทนเนอร์ )</h3>
  	</div>
  </div>
  <!-- End Search Form -->
	
    <div>
    	<%= render partial: "shared/flashes" %>

    	<%= render partial: "shared/left_layout" %>
			<div id="middle_layout" class="left">
				<%= yield %>
			</div>
    	<%= render partial: "shared/right_layout" %>
		</div>
	</div>
	<footer>
		<br>
		<hr>
		<div class='map'>
			<%= image_tag "map.jpg" %>
		</div>
		<div class="address">
			<p>
				<b>ติดต่อ</b><br>
				085-8687906, 0820466611
			</p>
			<br>
			<p>
				<b>ที่อยู่</b><br>
				KK CONTAINER (ขอนแก่น คอนเทนเนอร์)<br>
				ตั้งอยู่ที่ 274 หมู่ 2 ถ.มะลิวัลย์ ต.บ้านทุ่ม<br>
				อ.เมือง จ.ขอนแก่น 40000
			</p>
		</div>

		<p class="inline">&copy; <%= "#{Time.now.localtime.year}" %> by KK CONTAINER</p>
	</footer>
</body>
</html>
