<!doctype html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <% if @blog.present? %>
      <title><%= @blog.title %></title>
      <meta property="og:title" content='<%= @blog.title %>'>
      <meta property="og:description" content='<%= strip_tags(@blog.body)[0, 200] %>'>
      <meta property="og:url" content='<%= blog_url(@blog) %>'>
    <% else %>
      <title>ขาย-เช่า คอนเทนเนอร์ บ้านน็อคดาวน์ ขอนแก่น นครราชสีมา อุบลราชธานี ชัยภูมิ นครพนม บุรีรัมย์ กาฬสินธุ์ มหาสารคาม มุกดาหาร ยโสธร ร้อยเอ็ด เลย ศรีสะเกษ สกลนคร สุรินทร์ หนองคาย หนองบัวลำภู อำนาจเจริญ อุดรธานี บึงกาฬ</title>
      <meta property="og:title" content="เคเค คอนเทนเนอร์">
      <meta property="og:description" content="ขาย-เช่า คอนเทนเนอร์ บ้านน็อคดาวน์ ขอนแก่น นครราชสีมา อุบลราชธานี ชัยภูมิ นครพนม บุรีรัมย์ กาฬสินธุ์ มหาสารคาม มุกดาหาร ยโสธร ร้อยเอ็ด เลย ศรีสะเกษ สกลนคร สุรินทร์ หนองคาย หนองบัวลำภู อำนาจเจริญ อุดรธานี บึงกาฬ">
    <% end %>

    <meta name="keywords" content="ขาย-เช่า, บ้านน๊อคดาวน์, คอนเทนเนอร์ ขอนแก่น, เคเค คอนเทนเนอร์, ขอนแก่น, ราคาถูก, สนใจ, ตู้คอนเทนเนอร์, คอนเทนเนอร์, khon kaen container, container Thailand" />
    <meta http-equiv="content-language" content="th" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    
    <!-- <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Pacifico:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Anonymous+Pro:' type='text/css' media='all'/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:700" type="text/css" media="all"/> -->
  </head>
  <body>
    <div class="noo-spinner">
      <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </div>
    <div class="site">
      <%= render partial: "shared/header" %>
      
      <div id='<%= "main-container" if ["homes", "products", "blogs"].include?(controller_name) %>'>
        <%= yield %>
      </div>
      
      <%= render partial: "shared/footer" %>
    </div>
    <div class="noo-menu-extend">
      <div class="menu-extend-wrap">
        <span class="menu-closed"></span>
        <div class="widget widget_search">
          <form class="form-horizontal noo-organici-searchform">
            <label class="sr-only"></label>
            <input type="search" name="s" class="form-control" value="" placeholder="Enter keyword to search..."/>
            <input type="submit" class="hidden" value="Search"/>
          </form>
        </div>
        <div class="widget widget_nav_menu">
          <div class="menu-userful-link-container">
            <ul class="menu">
              <li><a href="#">Search</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Typo</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Payment</a></li>
            </ul>
          </div>
        </div>
        <div class="widget widget_flickr">
          <div class='flickr-badge-wrapper'></div>
        </div>
      </div>
    </div>
    <div class="noo-menu-extend-overlay"></div>

    <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>

    <%= javascript_include_tag "application" %>

    <% if controller_name == "contacts" %>
      <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
      <%= javascript_include_tag "js/google-map-custom.js" %>
    <% end %>

    <script type='text/javascript' src='/assets/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='/assets/js/jquery.themepunch.revolution.min.js'></script>

    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.video.min.js'></script>
    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.slideanims.min.js'></script>
    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.actions.min.js'></script>
    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.layeranimation.min.js'></script>
    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.kenburn.min.js'></script>
    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.navigation.min.js'></script>
    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.migration.min.js'></script>
    <script type='text/javascript' src='/assets/js/extensions/revolution.extension.parallax.min.js'></script>
  </body>
</html>