<!DOCTYPE html>
<html>
<head>
  <title>Cabincontainer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag controller_name, media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
	<h3 id="project-name">KK CONTAINER</h3>
	<div id="hmenu">
		<div class="navbar">
	    	<div class="navbar-inner">
		    		<%= link_to("หน้าหลัก", homes_path, class: "brand") %>
		    		<%= link_to("สินค้าของเรา", homes_path, class: "brand") %>
		    		<%= link_to("เกี่ยวกับเรา", "", class: "brand") %>
		    		<%= link_to("ลูกค้าของเรา", "", class: "brand") %>
		    		<%= link_to("คำถามที่พบบ่อย", "", class: "brand") %>
		    		<%= link_to("site map", "", class: "brand") %>
		    		<%= link_to("ติดต่อเรา", "", class: "brand") %>
		    	<ul class="nav">
		    		<% if current_user.present? && controller_name == "manage_categories" %>
		    			<li class="active"><%= link_to "จัดการหมวดหมู่สินค้า", manage_categories_path if current_user.present? %></li>
		    		<% else %>
		    			<li><%= link_to "จัดการหมวดหมู่สินค้า", manage_categories_path if current_user.present? %></li>
		    		<% end %>

		    		<% if current_user.present? && controller_name == "manage_products" %>
		    			<li class="active"><%= link_to "จัดการสินค้า", manage_products_path if current_user.present? %></li>
		    		<% else %>
		    			<li><%= link_to "จัดการสินค้า", manage_products_path if current_user.present? %></li>
		    		<% end %>

		    		<li>
		    			<%= link_to("ออกจากระบบ", user_session_path, method: "delete", id: "link_logout") unless current_user.blank? %>
		    		</li>
	    		</ul>
	    	</div>
	    </div>
	    <div>
	    	<%= render partial: "shared/flashes" %>

	    	<%= render partial: "shared/left_layout" %>
				<div id="middle_layout" class="left">
					<%= yield %>
				</div>
	    	<%= render partial: "shared/right_layout" %>
		</div>
	</div>
</div>
<div>
	<footer>
			&copy; <%= "#{Time.now.localtime.year}" %> by Cabin Container
	</footer>
</div>
</body>
</html>
