<!DOCTYPE html>
<html>
<head>
  <title>Cabincontainer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag controller_name, media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
	<div id="hmenu">
		<div class="navbar">
	    	<div class="navbar-inner">
		    	<a class="brand" href="#">Home</a>
		    	<ul class="nav">
		    		<li class="active"><a href="#">Link</a></li>
		    		<li><a href="#">Link</a></li>
		    		<li><a href="#">Link</a></li>
		    		<li>
		    			<%= link_to("Logout", user_session_path, method: "delete", id: "link_logout") unless current_user.blank? %>
		    		</li>
	    		</ul>
	    	</div>
	    </div>
	    <div>
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
